.button{
    background-color: var(--color-brand);
    transition: .5s;    
    border-radius: 0.75rem;
    padding: .5rem 1.5rem;
    width: 8.125rem;
}

.button:hover{
    background-color: var(--color-brand-hover);
    transition: .5s;    
}