.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 15vw 0rem 15vw;
    margin-bottom: 1rem;
}

.img{
    width: 4.375rem;
}

.div{
    display: flex;
    gap: 8vw;
}


@media (min-width: 720px){
    .header{
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 3rem;
    }
}